.post{
    width: 400px;
    height: auto;
    padding: 8px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 48px;
    box-shadow: 5px 5px 5px black;
    background-color: white;
    font-family: 'Alexandria',sans-serif;
    line-break: anywhere;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

b{
    font-weight: 300;
}

.post button:hover{
    cursor: crosshair;
}

#title{
    font-weight: bold;
}

#notice{
    font-weight: 600;
}

#myposts{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.bold{
    font-weight: bold;
}
