body{
    margin: 0;
    padding-bottom: 100px;
    background-color: #bbb1a1;
}

.head{
    background-color: #2d3748;
    border-bottom: 4px solid silver;
    height: auto;
    display: flex;
}

.head img{
    height: 48px;
    padding: 18px;
}

.head h1{
    color: white;
    font-weight: bold;
    font-family: 'Alexandria', sans-serif;
}

.end{
    background-color: #2d3748;
    border-top: 4px solid silver;
    height: 52px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

