.end{
    background-color: #2d3748;
    border-top: 4px solid silver;
    height: 52px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.end img{
    height: 52px;
    padding: 12px;
}

.end h6{
    font-family: 'Alexandria', sans-serif;
}