.head{
    background-color: #2d3748;
    border-bottom: 4px solid silver;
    height: auto;
    display: flex;
}

.head img{
    height: 48px;
    padding: 18px;
}

.head h1{
    color: white;
    font-weight: bold;
    font-family: 'Alexandria', sans-serif;
}