.post{
    width: 400px;
    height: auto;
    padding: 8px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 48px;
    box-shadow: 5px 5px 5px black;
    gap: 24px;
    background-color: white;
    font-family: 'Alexandria',sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-break: anywhere;
}

.post button:hover{
    cursor: crosshair;
}


#title{
    font-weight: bold;
}

#notice{
    font-weight: 600;
}

